.LearningDetails {
    margin-top: 100px;
    


    

    
}

.topSide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
    background-color: #232156;

    
}

.title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 25px;
    text-align: center;
    line-height: 1;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    margin-top: 50px;
    

}


.header-title {
    font-size: 30px;
    font-weight: bolder;
    color: #f39520;
    text-transform: uppercase;
}

.vertical-line {
    height: 2px;
    width: 30%;
    background-color: #f39520;
}


.round {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f39520;

    
}


.round-content {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #232156;
}

.bottomSide{
    padding: 15px;

}

.courses {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.courses .tit {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 25px;
    text-align: center;
    line-height: 1;
    color: #f39520;
    margin-bottom: 25px;
}

.courses .content {
    width: 50%;
}


.content .dec {
    margin-left: 30px;
    position: relative;
    background-color: #fff;
    padding: 60px 30px;
    border-radius: 20px;

    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

button {
    margin-top: 15px;
}
